---
title: Blank
draft: false

weight: 5
widget:
  handler: blank

  # Options: sm, md, lg and xl. Default is md.
  width: xl

  sidebar:
    # Options: left and right. Leave blank to hide.
    position:
    # Options: sm, md, lg and xl. Default is md.
    scale: xl

  background:
    # Options: primary, secondary, tertiary or any valid color value. Default is primary.
    color:
    image: images/hero-left.jpg
    # Options: auto, cover and contain. Default is auto.
    size: cover
    # Options: center, top, right, bottom, left.
    position:
    # Options: fixed, local, scroll.
    attachment:
---

<div style="text-align:center">
  <p>"We ought to obey God rather than men." - Acts 5:29</p>
</div>